write a program which will find all such number which are divisible by 7 but are not a multiple of 5,between 2000 and 3200(both include).the number obtained should be printed in a comma-separated seqence on a single line

In [ ]:
li=[]
for i in range(2000,3201):
  if i%7==0 and i%5!=0:
    li.append(i)
print(li)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

with a given integeral number n,write a programe to generate a dictionary that contain (i,i*i)such that is an integral number between 1 and n(both include).and then the programe should print dictionary

In [ ]:
d={}
n=int(input("enter the number:"))
for i in range(1,n+1):
    d[i]=i*i
  
print(d)

enter the number:5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

write a programe which can compute the factorial of a given numbers.the result should be printed in a comma-separated seqence on a single line.

In [ ]:
n=int(input("enter the number:"))
if n < 0:
        print(0) 
elif n == 0 or n == 1:
        print(1)
else:
     fact = 1
     while(n > 1):
            fact *= n
            n -= 1
     print(fact)

enter the number:8
40320

write a programe which accept a seqence of comma-separated numbers from console and generate a list and a tuple which contain every numbers.

In [ ]:
a=input("enter values:")
l=a.split(",")
li=list(l)
t=tuple(l)
print(li)
print(t)

enter values:2,3,4,5
['2', '3', '4', '5']
('2', '3', '4', '5')

write a programe that accept a sentance and calculate the number of upper case and lower case letter.

In [ ]:
a=input("enter the sentance:")
count1=0
count2=0
for i in a:
  if (i.islower()):
    count1+=1
  elif (i.isupper()):
    count2+=1
print("number of lowercase:",count1)
print("number of uppercase:",count2)

enter the sentance:Sana Nargees
number of lowercase: 9
number of uppercase: 2